:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  position: relative; /* important */
  height: 100%;
  overflow: hidden;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

#ui {
  position: absolute;
  top: calc(50% - 400px); /* top of canvas */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

#ui button {
  font-size: 18px;
  padding: 10px 20px;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px #000;
  z-index: 10;
  display: none;
}

#gameContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px; /* same as your canvas */
  height: 700px;  /* same as your canvas */
  transform: translate(-50%, -50%);
}

